---
interface Props {
  title: string;
  description: string;
  lang: string;
}

const { title, description, lang } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<link rel="canonical" href="https://mostrostabla.vercel.app/" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mostrostabla.vercel.app/" />
<meta property="og:locale" content={lang} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="Torneo Oficial Viernes de Gordos" />

<meta name="twitter:title" content={title} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="description" content={description} />
<meta name="twitter:description" content={description} />
<meta name="image" content="https://mostrostabla.vercel.app/banner.jpeg" />
<meta name="og:image" content="https://mostrostabla.vercel.app/banner.jpeg" />
<meta name="twitter:image" content="https://mostrostabla.vercel.app/banner.jpeg" />

<meta
  name="keywords"
  content="Torneo Oficial Viernes de Gordos, Mostros Gaming, Mostros Gaming Tabla, Mostros Gaming Tabla Oficial, Mostros Gaming Tabla Oficial Viernes de Gordos"
/>
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
